.title ul li {
    width: 290px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #aaa;
    float: left;
    /*border: 1px solid red;*/
}

.list_inf .list {
    overflow: hidden;
}

.list_inf .list li {
    float: left;
    width: 290px;
    height: 80px;
    line-height: 80px;
    color: #aaa;
    font-size: 25px;
    border-bottom: 1px solid #aaa;

    /*background: red;*/
}

.list_inf .list img {
    width: 32px;
    height: 32px;
    border-radius: 32px;
}

.list_inf ul .list_active {
    background: rgba(255, 255, 255, 0.2);
}
