.information {
    width: 530px;
    height: 400px;
    position: relative;
    top: 25px;
    left: 25px;
}

.information img {
    width: 530px;
    height: 400px;
}

.text {
    width: 550px;
    height: 485px;
    margin-left: 570px;
    margin-top: -375px;
    text-align: left;
    overflow: hidden;
    font-size: 20px;
    color: #aaa;
}

.text h3 {
    font-size: 24px;
    margin-bottom: 6px;
    color: #eee;
}

.text p{
    font-size: 20px;
    color: #aaa;
    line-height: 25px;
}