.sele {
    width: 100%;
    height: 80px;
    /*border: 1px solid red;*/
}

.sele p {
    color: #c1c1c1;
    font-size: 24px;
    height: 80px;
    line-height: 80px;
    width: 100%;
    text-align: left;
    border-bottom: 0.4px solid #c1c1c1;
}

/*.sele p:hover{
	background: rgba(255,255,255,0.2);	
}*/
.active {
    background: rgba(255, 255, 255, 0.2);
    /*background-image:url(../img/other/choose.png);*/
    background-repeat: no-repeat;
    background-position: 96%;
}

.active2 {
    /*background: rgba(255,255,255,0.2);*/
    background-image: url(../img/other/choose.png);
    background-repeat: no-repeat;
    background-position: 96%;
}