.top_inf {
    width: 1110px;
    height: 378px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    /*border: 1px solid red;*/
}

.top_inf .big_img {
    width: 504px;
    height: 378px;
    /*border: 1px solid green;*/
}

.top_inf .big_img img {
    width: 504px;
    height: 378px;
}

.tiltle_name {
    width: 548px;
    height: 326px;
    position: relative;
    left: 544px;
    top: -382px;
    text-align: left;
    border-bottom: 1px solid #c1c1c1;
}

.tiltle_name p:nth-child(1) {
    width: 76%;
    font-size: 32px;
    color: #c1c1c1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.tiltle_name p:nth-child(2) {
    font-size: 32px;
    color: #d2ad2b;
    position: relative;
    margin-top: -40px;
    text-align: right;
}

.tiltle_name p:nth-child(3){
width: 548px;
height: 74px;
overflow: hidden;
display: -webkit-box;
-webkit-line-clamp:3;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
/*border: 1px solid red;*/
margin-top: 20px;
font-size: 20px;
color: #c1c1c1;
}
div.marquee {
    width: 548px;
    height: 140px;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /*border: 1px solid red;*/
    margin-top: 10px;
    font-size: 20px;
    color: #c1c1c1;
}

.tiltle_name button {
    width: 200px;
    height: 58px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    color: #fff;
    line-height: 58px;
    background: transparent;
    border: 1px solid #d2ac2b;
    color: #d2ac2b;
    position: relative;
    margin-left: 348px;
    margin-top: 100px;
}

.tiltle_name .add_btn {
    width: 200px;
    height: 58px;
    border: none;
    font-size: 24px;
    color: #fff;
    line-height: 58px;
    background: #d2ac2b;
    position: relative;
    margin-left: 348px;
    margin-top: 100px;
}

.bot_inf {
    width: 1110px;
    height: 170px;
    margin: 28px auto;
    /*border: 1px solid red;*/
}

.bot_inf .better {
    width: 504px;
    height: 144px;
    text-align: left;
    /*border: 1px solid red;*/
}

.bot_inf .better p {
    font-size: 24px;
    color: #c1c1c1;
}

.bot_inf ul {
    width: 504px;
    height: 100px;
    margin-top: 12px;
    /*border: 1px solid green;*/
}

.bot_inf ul li{
    width: 132px;
    height: 100px;
    float: left;
    /*border: 1px solid red;*/
}

.bot_inf ul li:nth-child(1){
    margin-right: 52px;
}
.bot_inf ul li:nth-child(2){
    margin-right: 52px;
}

.bot_inf ul .acbetter {
    border: 2px solid #d2ac2b;
}

.bot_inf ul li img {
    width: 132px;
    height: 100px;
}

.bot_inf li .nameprice {
    width: 133px;
    height: 41px;
    position: relative;
    margin-top: -40px;
    text-align: left;
    background: rgba(40, 40, 40, 0.7);
}

.bot_inf li .nameprice p:nth-child(1) {
    position: relative;
    top: 4px;
    margin-left: 16px;
    font-size: 12px;
    color: #c1c1c1;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.bot_inf li .nameprice p:nth-child(2) {
    position: relative;
    top: 4px;
    margin-left: 16px;
    font-size: 12px;
    color: #d2ad2b;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.brief {
    width: 507px;
    height: 186px;
    margin-top: -190px;
    margin-left: 544px;
    text-align: left;
}

.brief p:nth-child(1) {
    font-size: 24px;
    color: #c1c1c1;
}

.brief p:nth-child(2) {
    font-size: 20px;
    color: #c1c1c1;
    width: 506px;
    height: 136px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.bot_inf .more img {
    width: 50px;
    margin-left: 800px;
    margin-top: -20px;
}

.bot_inf .more .moreinfo {
    border: 1px solid #d2ad2b;
}

.mianban1 {
    width: 1280px;
    height: 720px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.mianban_1 {
    width: 600px;
    height: 532px;
    background: #fff;
    margin: 94px auto;
    border-radius: 8px;
    position: relative;
    /*border: 1px solid green;*/

}

.mianban_1 .fri_title {
    width: 600px;
    height: 70px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #c1c1c1;
    /*border: 1px solid deeppink;*/
}

.mianban_1 .fri_title p:nth-child(1) {
    font-size: 36px;
    line-height: 70px;
    color: #221C1C;
    width: 340px;
    height: 70px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin: 0 auto;
}

.mianban_1 .fri_title p:nth-child(2) {
    font-size: 25px;
    position: relative;
    margin-top: -48px;
    margin-left: 480px;
    color: #d2ad2b;
}

.mianban_1 .fried {
    width: 550px;
    height: 120px;
    margin: 0 auto;
    text-align: left;
    color: #c1c1c1;
    /*border: 1px solid blue;*/
}

.mianban_1 .fried .fri {
    color: #d2ac2b;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mianban_1 .fried p {
    color: #aaa;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mianban_1 .fried ul li {
    width: 96px;
    height: 46px;
    float: left;
    font-size: 20px;
    border-radius: 4px;
    line-height: 46px;
    text-align: center;
    margin-right: 30px;
}

.default {
    color: #aaa;
    background: #dfdfdf;
}

.selected {
    color: #fff;
    background: #d2ac2b;
}

.mianban_1 .fried_bot {
    width: 600px;
    height: 100px;
    background: #dfdfdf;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: absolute;
    top: 430px;
}

.fried_bot div {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 6px;
    text-align: center;
    color: #d2ac2b;
    font-size: 26px;
    position: relative;
    margin-left: 360px;
    margin-top: 20px;
    border: 1px solid #d2ac2b;
    /*background: #d2ac2b;*/
}

.fried_bot .add_btn2 {
    background: #d2ac2b;
    color: #fff;
}

/*#ul_1 li:first-child{
border: 2px solid #d2ad2b;	
}*/
.active {
    border: 2px solid #d2ad2b;
}


/*面板1*/

.mianban2 {
    width: 1280px;
    height: 720px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.mianban_2 {
    width: 600px;
    height: 432px;
    background: #fff;
    margin: 144px auto;
    border-radius: 8px;
    position: relative;
}

.mianban_2 .shop {
    /*border: 1px solid red;*/
    margin-top: 25px;
    text-align: center;
}

.mianban_2 .success {
    width: 600px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    /*background: pink;*/
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.mianban_2 .success p {
    color: #221C1C;;
    font-size: 36px;
}

.text {
    text-align: left;
    width: 572px;
    margin: 0 auto;
    text-align: center;
}

.text p {
    color: #aaa;
    font-size: 22px;
}

.btn_double {
    width: 500px;
    height: 100px;
    margin: 80px auto;
    text-align: center;
    /*border: 1px solid green;*/
}

.btn_double ul {
    margin: 0 auto;
}

.btn_double li {
    width: 200px;
    height: 60px;
    line-height: 60px;
    float: left;
    text-align: center;
    font-size: 22px;
}

.btn_double .btn_1 {
    background: #fff;
    color: #d2ac2b;
    border: 1px solid #d2ac2b;
    border-radius: 6px;
    margin-right: 19%;
}

.btn_double .btn_2 {
    color: #d2ac2b;
    border: 1px solid #d2ac2b;
    border-radius: 6px;
    /*color:#fff;
    border-radius:6px;
    background: #d2ac2b;*/
}

.btn_double ul .activeli {
    color: #fff;
    border-radius: 6px;
    background: #d2ac2b;
}

/*面板2*/


