.shop_list {
    width: 1170px;
    height: 415px;
    overflow: auto;
}

.shop_list img {
    position: relative;
    margin-top: 20px;
    margin: auto;
}

.shop_list ul {
    width: 1170px;
    text-align: left;
    overflow: hidden;
}

.shop_list ul li {
    width: 576px;
    height: 212px;
    float: left;
}

.shop_list ul li img {
    width: 200px;
    height: 152px;
    margin-top: 25px;
    margin-left: 25px;
}

.shop_list .describe {
    width: 335px;
    height: 160px;
    position: relative;
    margin-left: 235px;
    margin-top: -140px;
}

.shop_list .describe p:nth-child(1) {
    width: 284px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 26px;
}

.shop_list .describe p:nth-child(2) {
    color: #aaa;
    font-size: 20px;
}

.shop_list .describe p:nth-child(3) {
    color: #aaa;
    font-size: 20px;
}

.shop_list .describe p {
    margin-bottom: 3px;
}

.shop_list .jia {
    width: 60px;
    height: 40px;
    position: relative;
    margin-left: 510px;
    margin-top: -160px;
    text-align: right;
}

.shop_list .jia p {
    font-size: 26px;
    color: #d2ac2b;
}

.tab {
    width: 202px;
    height: 56px;
    position: relative;
    left: 360px;
    top: 40px;
    border: 1px solid #b3b2b0;
    border-radius: 5px;
}

.tab input {
    width: 50px;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    color: #b3b2b0;
    background: transparent;
    border: none;
}

.tab lable:nth-child(2) {
    width: 88px;
    height: 54px;
    font-size: 30px;
    color: #b3b2b0;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    text-align: center;
}

.tab input:nth-child(1) {
    width: 50px;
    height: 56px;
    margin: 0;
    padding: 0;
    border: none;
    border-right: 1px solid #b3b2b0;
}

.tab input:nth-child(3) {
    width: 50px;
    height: 56px;
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid #b3b2b0;
    float: right;
}

ul li .tab .active_tab {
    border: 1px solid #d3ac2b;
}

.bottom_fixed {
    width: 1170px;
    height: 95px;
    color: #fff;
    position: absolute;
    bottom: 66px;
    background: rgba(40, 40, 40, 0.4);
}

.total {
    width: 200px;
    height: 50px;
    line-height: 40px;
    position: relative;
    margin-top: 26px;
    margin-left: 750px;
}

.total p {
    color: #d2ac2b;
    font-size: 22px;
}

.bottom_fixed div:nth-child(2) {
    width: 200px;
    height: 60px;
    font-size: 27px;
    line-height: 60px;
    border: 1px solid #d2ac2b;
    color: #d2ac2b;
    background: transparent;
    border-radius: 5px;
    position: relative;
    margin-left: 940px;
    margin-top: -60px;
    text-align: center;
}

#fixed .place {
    width: 200px;
    height: 60px;
    font-size: 27px;
    line-height: 60px;
    border-radius: 5px;
    background: #d2ac2b;
    position: relative;
    margin-left: 940px;
    margin-top: -60px;
    color: #fff;
    text-align: center;
}

.mianban3 {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
}

.mianban_3 {
    width: 600px;
    height: 535px;
    background: #dfdfdf;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    top: 92px;
}

.mianban_3 .success {
    width: 600px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #dfdfdf;
}

#payIcon {
    width: 32px;
    height: auto;
    margin-right: 10px;
}

.mianban_3 .success p {
    color: #000;
    font-size: 32px;
}

.mianban_3 .good_list {
    width: 600px;
    height: 355px;
    background: #fff;
    overflow: auto;
}

.mianban_3 .good_list ul {
    width: 100%;
    height: 16.6rem;
    text-align: left;
}

.mianban_3 .good_list ul li {
    width: 600px;
    height: 164px;
    float: left;
    border: 1px solid #dfdfdf;
}

.mianban_3 .good_list ul li img {
    width: 150px;
    height: 110px;
    position: relative;
    margin-top: 28px;
    margin-left: 20px;
}

.mianban_3 .good_list .describe {
    width: 200px;
    height: 120px;
    margin-left: 200px;
    margin-top: -120px;
}

.mianban_3 .good_list .describe p:nth-child(1) {
    color: #000;
    font-size: 26px;

}

.mianban_3 .good_list .describe p:nth-child(2) {
    color: gray;
    font-size: 20px;
    margin-top: -1px;
}

.mianban_3 .good_list .describe p:nth-child(3) {
    color: gray;
    font-size: 20px;
    margin-top: -1px;
}

.mianban_3 .good_list .describe p:nth-child(4) {
    color: #e37947;
    font-size: 28px;
}

.mianban_3 .good_list .jia {
    width: 100px;
    height: 40px;
    text-align: right;
    position: relative;
    margin-left: 470px;
    margin-top: -90px;
}

.mianban_3 .good_list .jia p {
    font-size: 30px;
    color: #d2ac2b;
}

.mianban_3 .bot_good {
    width: 340px;
    height: 100px;
    position: relative;
    margin-left: 250px;
}

.mianban_3 .bot_good p {
    font-size: 24px;
    color: #d2ad2b;
    position: relative;
    margin-left: -220px;
    margin-top: 40px;
}

.mianban_3 .bot_good #place_2 {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 8px;
    font-size: 22px;
    color: #e8f1e0;
    border: none;
    background: #d2ad2b;
    position: relative;
    margin-left: 120px;
    top: -46px;
    text-align: center;
}

/*面板3*/
.mianban4 {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
}

.mianban_4 {
    width: 600px;
    height: 535px;
    background: #dfdfdf;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    top: 92px;
}

.mianban_4 .success {
    width: 600px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 1px solid #dfdfdf;
}

.mianban_4 .success p {
    color: #000;
    font-size: 32px;
}

.mianban_4 .good_list {
    width: 600px;
    height: 370px;
    background: #fff;
    overflow: auto;
    /*border: 1px solid green;*/
}

.mianban_4 .good_list ul {
    width: 600px;
    height: 200px;
    text-align: left;
    /*border-bottom: 1px solid #fff;*/
}

.mianban_4 .good_list ul li {
    width: 596px;
    height: 120px;
    float: left;
    line-height: 120px;
    border: 1px solid #dfdfdf;
    /*border: 1px solid green;*/
}

.mianban_4 .good_list ul li img {
    margin-left: 30px;
    margin-top: -18px;
}

.mianban_4 .good_list ul li span {
    margin-left: 34px;
    font-size: 32px;
}

.mianban_4 .bot_good p {
    font-size: 24px;
    color: #d2ad2b;
    position: relative;
    margin-left: 340px;
    margin-top: 36px;
}

.mianban_4 .bot_good div {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 8px;
    font-size: 22px;
    color: #d2ad2b;
    border: none;
    background: transparent;
    border: 1px solid #d2ad2b;
    position: relative;
    margin-left: 340px;
    top: -50px;
    text-align: center;
}

.mianban_4 .good_list ul .on {
    border: 2px solid #ed763c;
    /*background-image:url(../img/other/gouxuan.png);*/
    background-repeat: no-repeat;
    background-position: 96%;
}

.mianban_4 .good_list ul .open {
    /*border: 2px solid #ed763c;*/
    background-image: url(../img/other/gouxuan.png);
    background-repeat: no-repeat;
    background-position: 96%;
}

.mianban_4 .bot_good .active-button {
    width: 200px;
    height: 60px;
    line-height: 60px;
    border-radius: 8px;
    font-size: 22px;
    color: #fff;
    border: none;
    background: #d2ad2b;
    position: relative;
    margin-left: 340px;
    top: -50px;
    display: none;
}

/*面板4*/

.mianban5 {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
}

.mianban_5 {
    width: 600px;
    height: 432px;
    background: #fff;
    margin: 140px auto;
    border-radius: 8px;
    position: relative;
}

.mianban_5 .success {
    width: 600px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    /*border: 1px solid red;*/
}

.mianban_5 .success p {
    color: #000;
    font-size: 32px;
}

.mianban_5 .text {
    width: 560px;
    text-align: left;
    margin: 0 auto;
    text-align: center;
}

.mianban_5 .text p {
    color: #aaa;
    font-size: 21px;
}

.mianban_5 .two {
    width: 600px;
    height: 200px;
    margin: 60px auto;
    text-align: center;
    /*border: 1px solid red;*/
}

.mianban_5 .two .sel {
    background: #d2ac2b;
    color: #fff;
    border: none;
    text-align: center;
}

.mianban_5 .two p {
    width: 376px;
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    color: #c1c1c1;
    margin: 5% auto;
    border: 2px solid #c1c1c1;
}

/*面板5*/

.payqr {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    display: none;
    text-align: center;
}

.payqr .qr {
    text-align: center;
}

.payqr .qr img {
    margin: auto;
    margin-top: 30px;
}

/*支付宝面板*/

.mianban6 {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
}

.mianban_6 {
    width: 600px;
    height: 428px;
    background: #fff;
    margin: 140px auto;
    border-radius: 8px;
    position: relative;
    /*display: none;*/
}

.mianban_6 .success {
    width: 600px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    /*border: 1px solid red;*/
}

.mianban_6 .success p {
    color: #000;
    font-size: 32px;
}

.mianban_6 .text {
    width: 560px;
    text-align: left;
    margin: 0 auto;
}

.mianban_6 .text p {
    color: #aaa;
    font-size: 21px;
}

.mianban_6 .car {
    width: 60%;
    margin: 8% auto;
    text-align: center;
}

.mianban_6 .complete {
    width: 375px;
    height: 60px;
    margin: 12% auto;
    color: #fff;
    background: #ef753f;
    font-size: 26px;
    line-height: 60px;
    border-radius: 5px;
    text-align: center;
}

/*面板6*/
.date {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.4);
    display: none;
}

.date .sub_date {
    width: 600px;
    height: 428px;
    background: #f1f1f1;
    margin: 140px auto;
    border-radius: 8px;
    position: relative;
    text-align: center;
}

.date .sub_date p {
    font-size: 30px;
    color: #000;
}
.date .sub_date span {
    font-size: 10px;
    color: #d23539;
    display: none;
}
.date .sub_date ul {
    width: 90%;
    height: 210px;
    margin: 20px auto;
    text-align: left;
    /*border: 1px solid red;*/
}

.date .sub_date ul li {
    width: 105px;
    height: 210px;
    float: left;
    text-align: center;
    /*border: 1px solid #d2ad2b;*/
}

.date .sub_date ul .sele-time {
    border: 1px solid #d2ad2b;
}

.date .sub_date ul li p {
    font-size: 20px;
}

.date .sub_date ul li p:nth-child(1) {
    margin-top: 10px;
}

.date .sub_date ul li p:nth-child(2) {
    margin-bottom: 10px;
}

.date .sub_date ul li input {
    width: 75px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 30px;
    color: #d2ac2b;
    outline: none;
    caret-color: #d2ac2b;
}

.date .sub_date ul .activesel {
    width: 70px;
    height: 45px;
    color: #d2ac2b;
    font-size: 28px;
    border: 1px solid #d2ad2b;
    outline: none;
}

.date .sub_date div {
    width: 375px;
    height: 60px;
    margin: 20px auto;
    color: #d2ad2b;
    background: transparent;
    border: 1px solid #d2ad2b;
    font-size: 26px;
    line-height: 60px;
    border-radius: 5px;
}

.date .sub_date .completesel {
    width: 375px;
    height: 60px;
    margin: 20px auto;
    color: #fff;
    background: #d2ad2b;
    font-size: 26px;
    line-height: 60px;
    border-radius: 5px;
}
/*空购物车*/

.empty {
    width: 1280px;
    height: 720px;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent;
    text-align: center;
    display: none;
}
.empty_1 {
    margin: 250px auto;
    position: relative;
}

.empty_1 img{
    width:162px;
}
.empty_1 p{
    margin-top: 50px;
    color: #d2ac2b;
    font-size: 22px;
}
