@charset "utf-8";
/* reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* box */
.box {
    margin-left: 60px;
    width: 1170px;
    height: 566px;
    background: rgba(255, 255, 255, 0.1);
    /*border: 1px solid red;*/
}

#wrapper .title {
    background: rgba(40, 40, 40, 0.4);
    width: 1170px;
    height: 60px;
    text-align: left;
}

#wrapper .title p {
    color: #c1c1c1;
    line-height: 60px;
    font-size: 24px;
    margin-left: 30px;
}

.tab_menu {
    overflow: hidden;
    width: 266px;
    height: 460px;
    /*border: 1px solid red;*/
}

.tab_menu li {
    width: 266px;
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    color: #c1c1c1;
    background: transparent;
    text-align: left;
    padding-left: 30px;
    /*cursor: pointer;*/
    border: none;
}

.tab_menu li a {
    color: #eee;
}

.tab_menu .current {
    color: #fff;
    background: rgba(210, 172, 43, 0.4);
    border: none;
}

/*.tab_menu .current::after{
	content:"";
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid rgba(210,172,43,0.4);
	border-bottom: 10px solid transparent;
	position: absolute;
	left: 317px;
	margin-top: 14px;
}*/

.tab_box {
    width: 902px;
    height: 506px;
    text-align: left;
    position: relative;
    top: -460px;
    left: 266px;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
    overflow: auto;
    /*border: 1px solid green;*/
}

.tab_box ul {
    overflow: hidden;
    /*border: 1px solid red;*/
}

.tab_box li {
    width: 208px;
    height: 298px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    border: 2px solid transparent;
}

.tab_box li img {
    width: 208px;
    height: 298px;
}

.tab_box li .nameprice {
    width: 208px;
    height: 66px;
    position: relative;
    margin-top: -66px;
    text-align: left;
    background: rgba(40, 40, 40, 0.7);
}

.tab_box li .nameprice p:nth-child(1) {
    position: relative;
    top: 4px;
    font-size: 20px;
    color: #c1c1c1;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /*text-overflow: ellipsis;*/
}

.tab_box li .nameprice p:nth-child(2) {
    position: relative;
    top: 4px;
    margin-left: 14px;
    font-size: 20px;
    color: #d2ad2b;
}

.tab_box .active {
    border: 2px solid #d2ad2b;
}

.tab_box .hide {
    display: none;
}

.bottom_tiao {
    margin: 18px auto ;
    width: 530px;
    height: 32px;
    line-height: 32px;
    background: rgba(40, 40, 40, 0.5);
    text-align: center;
    /*margin-left: 110px;*/
    /*margin: 10px auto;*/
    /*border: 1px solid red;*/
}

.bottom_tiao img {
    width: 530px;
    height: 32px;
}

/*.bottom_tiao span {*/
    /*color: #707e84;*/
    /*font-size: 22px;*/
/*}*/

/*.bottom_tiao img:nth-child(2) {*/
    /*width: 26px;*/
/*}*/

/*.bottom_tiao img:nth-child(3) {*/
    /*width: 26px;*/
    /*margin-left: 6px;*/
/*}*/

/*.bottom_tiao img:nth-child(4) {*/
    /*width: 26px;*/
/*}*/

/*.bottom_tiao img:nth-child(5) {*/
    /*width: 26px;*/
    /*margin-left: -5px;*/
    /*margin-right: 5px;*/
/*}*/
