.weather {
    width: 1170px;
    height: 380px;
    margin-top: 2%;
    /*border: 1px solid green;*/
    border-bottom: 1px solid #aaa;
}

.weather ul li {
    width: 216px;
    height: 350px;
    float: left;
    text-align: center;
    border-left: 1px solid #aaa;
}

.weather ul li:nth-child(1) {
    width: 280px;
    border: none;
    margin-top: 72px;
}

.local {
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin-left: 30px;
    position: absolute;
}

.local img {
    margin-left: 6%;
    margin-top: -3%;
    margin-right: 6%;
}

.local span {
    font-size: 20px;
}

.weather ul li:nth-child(1) img {
    width: 110px;
    height: 100px;
    margin-top: 10%;
}

.week {
    width: 100%;
    height: 70px;
    margin-top: 18px;
}

.week ul li {
    width: 216px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    color: #aaa;
    float: left;
}

.week ul li:first-child {
    color: #fff;
    margin-left: -250px;
    text-align: center;
    border: none;
}

.weather ul li:nth-child(1) div {
    width: 100%;
    height: 120px;
    margin-top: 6%;
    /*border: 1px solid blue;*/
}

.weather ul li:nth-child(1) div p:nth-child(1) {
    font-size: 24px;
}

.weather ul li:nth-child(1) div p:nth-child(2) {
    color: #aaa;
    font-size: 26px;
    margin-top: 10px;
}

.weather ul li:nth-child(1) div p:nth-child(3) {
    color: #aaa;
    font-size: 24px;
    margin-top: 10px;
}

.weather ul li img {
    width: 60px;
    height: 60px;
    margin-top: 100px;
}

.weather ul li div {
    width: 100%;
    height: 120px;
    margin-top: 20px;
}

.weather ul li div p:nth-child(1) {
    font-size: 20px;
    color: #eee;
}

.weather ul li div p:nth-child(2) {
    font-size: 18px;
    color: #aaa;
    margin-top: 15px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.weather ul li div p:nth-child(3) {
    font-size: 18px;
    color: #aaa;
    margin-top: 15px;
}