body {
    /*background:url(../img/startwelcome/bgwelcome.jpg) no-repeat;*/
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 800px;
    height: auto;
    border-radius: 10px;
    margin: 8% auto;
    background: rgba(40, 40, 40, 0.8);
    /*border: 1px solid red;*/
}

.top-img {
    height: 70px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 35px;
}

.cen-text {
    margin: 10px auto;
    width: 700px;
    color: #fff;
    position: relative;
}

.cen-text1 {
    font-size: 22px;
    top: 35px;
}

.cen-text2 {
    height: auto;
    font-size: 18px;
    top: 35px;
}

/*.cen-text3 {*/
    /*text-align: right;*/
    /*margin-right: 7%;*/
    /*font-size: 18px;*/
/*}*/
.sign-img {
    width: 700px;
    margin: 0px auto;
    position: relative;
    text-align: right;
    top: 35px;
}

.bot-a {
    margin: 10px auto;
    position: relative;
    width: 225px;
    height: auto;
    background: #d2ac2b;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    bottom: 35px;
    /*border: 1px solid red;*/
}

.btn_double {
    width: 500px;
    height: 100px;
    margin: 80px auto;
    text-align: center;
    /*border: 1px solid green;*/
}

.btn_double ul {
    margin: 0 auto;
}

.btn_double li {
    width: 200px;
    height: 60px;
    line-height: 60px;
    float: left;
    text-align: center;
    font-size: 22px;
}

.btn_double .btn_1 {
    color: #d2ac2b;
    border: 1px solid #d2ac2b;
    border-radius: 6px;
    margin-right: 19%;
}

.btn_double .btn_2 {
    color: #d2ac2b;
    border: 1px solid #d2ac2b;
    border-radius: 6px;
    /*color:#fff;
    border-radius:6px;
    background: #d2ac2b;*/
}

.btn_double ul .active {
    color: #fff;
    border-radius: 6px;
    background: #d2ac2b;
}
