<!--信息类 详情-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/information.css" rel="stylesheet">
    <!--选项卡的引用-->
    <link href="../css/tab.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/tab/jquery.js"></script>
    <script src="../js/tab/jquery.tabs.js"></script>
    <script src="../js/tab/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../js/tab/lanrenzhijia.js"></script>

    <script src="../js/vue.min.js"></script>
</head>
<body>
<div class="shadow"></div><!--遮罩黑色背景-->
<div class="content"><!--整体开始-->
    <div class="header">
        <img id="logo" alt="" class="lt"/>
        <img src="../img/startwelcome/shu.png" alt="" class="lt2"/>
        <div class="welcome">
            <p><span id="customer"></span></p>
            <p> <span id="roomNumber"></span></p>
        </div>
        <div class="weathertime">
            <ul>
                <li>
                    <span id="dateweek"></span>
                </li>
                <li>
                    <img src="../img/icon-weather.png"/>
                    <span id="wendu"></span>
                </li>
                <li>
                    <img src="../img/icon-time.png"/>
                    <span id="timemm"></span>
                </li>
            </ul>
        </div>
    </div>
    <div id="wrapper">
        <div class="box demo2" id="app">
            <div class="information">
                <img :src="img"/>
            </div>
            <div class="text">
                <!--<p v-text="title"></p>-->
                <p id="desc"></p>
                <!--<p v-text="description"></p>-->
            </div>

        </div>
    </div>
    <div id="bottomVue" class="bottom_tiao">
        <img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png"/>
        <img v-else src="../img/bottom-ch.png"/>
    </div>
</div>
</div>
<script src="../js/bottom.js"></script>
<script src="../js/top.js"></script>
<script>
    //头部的日期和时间
    $("#dateweek").html(dateweek);//日期
    //$("#timemm").html(time);
    $("#roomNumber").html(window.sessionStorage.language == "zh-cn"?"房间号 "+window.localStorage.roomId:"Room "+window.localStorage.roomId);
    $("#customer").html(window.sessionStorage.language == "zh-cn"?"欢迎 "+window.sessionStorage.customer:"Welcome "+window.sessionStorage.customer);
    try {
        $("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
    } catch (e) {
    }

    /**
     * 数据
     */
    var data = JSON.parse(window.sessionStorage.infoDetail);
    //console.log(data);
    //console.log(data.logo.internalImageId);
    function removeHTMLTag(str) {
        try {
            str = str.replace(/<\/?[^>]*>/g, ''); //去除HTML tag
        } catch (e) {
        }
        return str;
    }
//    var descri = removeHTMLTag(data.translates[window.sessionStorage.language].description);
    var descri = data.translates[window.sessionStorage.language].description;
    $("#desc").append(descri);
    var vue = new Vue({
        el: '#app',
        data: {
            title: data.translates[window.sessionStorage.language].title,
//            description: descri,
            img: data.logo.internalImageId
        },
    });
    document.onkeydown = function (e) {
        if (!e) {
            e = window.event;
        }
        switch ((e.keyCode || e.which)) {
//          case 8://返回
//          	history.back();
//          	break;
//          default:
//              break;
			case 8:
			case 88:  //返回
				window.history.go(-1);  
				return false;　　　　　　　　　　　　　　　
				break;　
        }
    }
    window.onload=function(){
    	$("body").focus();
    }
</script>
</body>
</html>
