<!--语言设置-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/language.css" rel="stylesheet">
		<!--选项卡的引用-->
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../js/tab/jquery.js"></script>
		<!--<script src="../js/tab/jquery.tabs.js"></script>-->
		<script src="../js/tab/jquery.lazyload.js"></script>

		<script src="../js/vue.min.js"></script>
		<!--<script type="text/javascript" src="../js/tab/lanrenzhijia.js"></script>-->
	</head>

	<body>
		<div class="shadow"></div>
		<!--遮罩黑色背景-->
		<div class="content">
			<div class="header">
				<img id="logo" alt="" class="lt" />
				<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
				<div class="welcome">
					<p><span id="customer"></span></p>
					<p> <span id="roomNumber"></span></p>
				</div>
				<div class="weathertime">
					<ul>
						<li>
							<span id="dateweek"></span>
						</li>
						<li>
							<img src="../img/icon-weather.png" />
							<span id="wendu"></span>
						</li>
						<li>
							<img src="../img/icon-time.png" />
							<span id="timemm"></span>
						</li>
					</ul>
				</div>
			</div>
			<div id="wrapper">
				<div class="box demo2">
					<div class="title">
						<p>Home > Language</p>
					</div>
					<div class="sele">
						<p>&nbsp;&nbsp;English</p>
						<p>&nbsp;&nbsp;简体中文</p>
					</div>
				</div>
			</div>
			<div id="bottomVue" class="bottom_tiao">
				<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
				<img v-else src="../img/bottom-ch.png" />
			</div>
		</div>
		</div>
		<script src="../js/bottom.js"></script>
		<script src="../js/top.js"></script>
		<script>
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			//$("#timemm").html(time);
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}
			var p = $(".sele p");
			//定义初始化行列
			var currentCol = 0;
			$(function() {
				if("en" == window.sessionStorage.language) {
					currentCol = 0;
				} else {
					currentCol = 1;
				}
				p[currentCol].className = "active active2";
			});

			document.onkeydown = function(e) {
				e = window.event || e;
				switch(e.keyCode) {
					case 13:
					case 29443:
					
						for(i = 0; i < p.length; i++) {
							var classStr = p[i].className.replace("active2", "");
							p[i].className = classStr;
						}
						p[currentCol].className = "active active2";
						switch(currentCol) {
							case 0:
								window.sessionStorage.language = "en";
								break;
							case 1:
								window.sessionStorage.language = "zh-cn";
								break;
							default:
							
								break;
						}
						history.go(-1);
						break;
					case 4:
					case(37 || "KEY_LEFT"): //向左键
						break;
					case 5:
					case(39 || "KEY_RIGHT"): //向右键
						break;
					case 29460:
					case(38 || "KEY_UP"): //向上键
						currentCol--;
						change();
						break;
					case 29461:
					case(40 || "KEY_DOWN"): //向下键
						currentCol++;
						change();
						break;
					case 88: //返回
					case 8:
						window.history.go(-1);
						return false;　　　　　　　　　　　　　　　
						break;　
					default:
						break;
				}
			}
			//方向键调用
			function change() {
				for(i = 0; i < p.length; i++) {
					var classStr = p[i].className.replace("active", "");
					p[i].className = classStr;
				}
				if(currentCol < 0) {
					currentCol = p.length - 1;
				}
				if(currentCol == p.length) {
					currentCol = 0;
				}
				p[currentCol].className = "active";
			}
		</script>
	</body>

</html>