<!--订单列表-->
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/bill.css" rel="stylesheet">
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../js/tab/jquery.js"></script>
		<script src="../js/tab/jquery.lazyload.js"></script>
		<script src="../js/vue.min.js"></script>

	</head>

	<body>
		<div class="shadow"></div>
		<!--遮罩黑色背景-->
		<div class="content">
			<div class="header">
				<img id="logo" alt="" class="lt" />
				<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
				<div class="welcome">
					<p><span id="customer"></span></p>
					<p> <span id="roomNumber"></span></p>
				</div>
				<div class="weathertime">
					<ul>
						<li>
							<span id="dateweek"></span>
							<!--头部日期-->
						</li>
						<li>
							<img src="../img/icon-weather.png" />
							<!--头部天气-->
							<span id="wendu"></span>
						</li>
						<li>
							<img src="../img/icon-time.png" />
							<!--头部时间-->
							<span id="timemm"></span>
						</li>
					</ul>
				</div>
			</div>
			<div id="wrapper">
				<div class="box demo2" id="app">
					<div class="title">
						<p id="top-title"></p>
						<!--<p v-text="currentPage+'/'+totalPage">1/1</p>-->
						<p id="pageHint"></p>
					</div>
					<div class="list">
						<div id="loadDiv" class="loading"><img src="../img/loading.gif"></div>
						<ul>
							<a href="#" v-for="item in listData">
								<li>
									<img src="../img/other/message.png" />
									<!--<img :src="item."/>-->
									<div class="text">
										<p v-text="item.merchandises[0].translates[window.sessionStorage.language].title"></p>
										<p v-text="setTime(item.placeTimestampUsec)"></p>
									</div>
									<div class="price">
										<p>¥<span v-text="item.totalPriceInMill/1000">68</span></p>
									</div>
								</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
			<div id="bottomVue" class="bottom_tiao">
				<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
				<img v-else src="../img/bottom-ch.png" />
			</div>
		</div>
		</div>
		<script src="../js/bottom.js"></script>
		<script src="../js/top.js"></script>
		<script>
			var currentPage = 1;
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			//$("#timemm").html(time);
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}
			document.onkeydown = function(e) {
				if(!e) {
					e = window.event;
				}

				switch((e.keyCode || e.which)) {
					case 13: //enter
					case 29443:
						break;
					case 37: //左
					case 4:
						break;
					case 38: //上
					case 29460:
						if(currentPage > 1) {
							currentPage--;
							setDate();
						}
						return false;
						break;
					case 39: //右
					case 5:
						break;
					case 40: //下
						if(currentPage < totalPage) {
							currentPage++;
							setDate();
						}
						return false;
						break;
					case 88: //返回
						window.location.href = "home.html";

						break;
					default:
						break;
				}
			};
			var basedata = new Array;
			var jsondata = new Array;
			var totalPage;
			$.ajax({
				type: "GET",
				url: window.sessionStorage.server_url + "/api/junctioncore/v1/room_order/",
				beforeSend: function(data) {
					data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
				},
				dataType: "json",
				data: {
					hotel_id: window.localStorage.hotelId,
					restaurant_id: window.localStorage.restaurantId,
					device_id: window.localStorage.deviceId,
					device_type: "tv"
				},
				success: function(data) {
					//console.log(data);
					for(var i = 0; i < data.data.length; i++) {
						if(data.data[i].status == "STARTED") {
							basedata.push(data.data[i]);
						}
					}
					totalPage = Math.ceil(basedata.length / 5);
					$("#loadDiv").css("display", "none");
					setDate();
				}
			});
			var vue = new Vue({
				el: '#app',
				data: {
					listData: jsondata,
					totalPage: totalPage,
					currentPage: currentPage
				},
				methods: {
					setTime: function(date) {
						return getFormatDate(new Date(date / 1000));
					}
				},
			});

			function setDate() {
				$("#pageHint").html(currentPage + "/" + totalPage);
				jsondata.splice(0, 5);
				for(var i = 5 * (currentPage - 1); i < 5 * currentPage; i++) {
					if(i < basedata.length) {
						jsondata.push(basedata[i]);
					}
				}
			}

			function getFormatDate(date) {
				//15:23 08/07 2017
				Y = date.getFullYear();
				M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1);
				D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
				h = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
				m = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
				return h + ":" + m + " " + D + "/" + M + " " + Y;
			}
			/*
			 * 本地语言
			 */
			if(window.sessionStorage.language == "zh-cn") {
				$("#top-title").html("首页 > 我的订单");
			} else {
				$("#top-title").html("Home > My Bill");
			}
		</script>
	</body>

</html>