<!--左右菜单联动 通用页面-->
<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/tab.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../js/tab/jquery.js"></script>
		<script src="../js/vue.min.js"></script>

	</head>

	<body>
		<div>
			<div class="shadow"></div>
			<div class="content">
				<div class="header">
					<img id="logo" alt="" class="lt" />
					<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
					<div class="welcome">
						<p><span id="customer"></span></p>
						<p> <span id="roomNumber"></span></p>
					</div>
					<div class="weathertime">
						<ul>
							<li>
								<span id="dateweek"></span>
							</li>
							<li>
								<img src="../img/icon-weather.png" />
								<span id="wendu"></span>
							</li>
							<li>
								<img src="../img/icon-time.png" />
								<span id="timemm"></span>
							</li>
						</ul>
					</div>
				</div>
				<!--*************选项卡****************-->
				<div id="wrapper">
					<div class="box">
						<div class="title">
							<p id="title"></p>
						</div>
						<div id="app2">
							<!--左边菜单-->
							<ul class="tab_menu" id="listmenu">
								<li v-for="item in menudata">
									<p v-text="item.translates[window.sessionStorage.language].title"></p>
								</li>
							</ul>
						</div>
						<div class="tab_box">
							<div id="app">
								<!--右边菜单-->
								<ul id="ul" class="ul">
									<li class="active_sel" tabindex="0" v-for="(item,index) in jsondata" v-on:focus="changeItem(index)">
										<img v-if="pageType=='merchandise'||pageType=='SERVICE'" :src="item.defaultImage.internalImageId" />
										<img v-else-if="pageType=='INFO'" :src="item.logo.internalImageId" />
										<!--<img v-else :src="item.logo.internalImageId"/>-->
										<div class="nameprice">
											<p v-if="pageType=='merchandise'" v-text="item.translates[window.sessionStorage.language].title"></p>
											<p v-else-if="pageType=='SERVICE'" v-text="item.translates[window.sessionStorage.language].title"></p>
											<p v-else v-text="item.translates[window.sessionStorage.language].title" style="line-height: 52px;font-size: 27px;"></p>
											<p v-if="pageType=='merchandise'">¥<span v-text="item.defaultPriceInMill/1000"></span></p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div id="bottomVue" class="bottom_tiao">
					<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
					<img v-else src="../img/bottom-ch.png" />
				</div>
			</div>
		</div>
		<script src="../js/bottom.js"></script>
		<script src="../js/top.js"></script>
		<script>
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}

			function GetQueryString(url, name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = url.substr(1).match(reg);
				if(r != null) return unescape(r[2]);
				return null;
			};
			//定义初始化行列
			var currentMenuIndex = window.sessionStorage.secondPage_currentMenuIndex == null ? 0 : parseInt(window.sessionStorage.secondPage_currentMenuIndex);
			var currentItemIndex = window.sessionStorage.secondPage_currentItemIndex == null ? -1 : parseInt(window.sessionStorage.secondPage_currentItemIndex);
			/**
			 * 键盘控制
			 **/

			console.log(currentItemIndex)
			document.onkeydown = function(e) {
				e = window.event || e;
				switch((e.keyCode || e.which)) {
					case 29443:
					case 13: //enter

						toDetail();
						break;
					case 4:
					case(37 || "KEY_LEFT"): //向左键
						if(currentItemIndex > -1) {
							if(currentItemIndex % 3 == 0) {
								var it = document.getElementById("ul");
								it.children[currentItemIndex].blur();
								currentItemIndex = -1;
								changeItem();
								return false; //拦截系统左键
							} else {
								currentItemIndex--;
								changeItem();
							}
						} else {
							return false;
						}
						break;
					case 5:
					case(39 || "KEY_RIGHT"): //向右键
						if(currentItemIndex == -1) {
							currentItemIndex = 0;
							var it = document.getElementById("ul");
							it.children[currentItemIndex].focus();
							return false; //拦截系统左键
						} else {
							//获取右边列表的个数
							var rightLength = $("#ul li").length;
							// 如果当前索引+1（索引从0开始）小于当前的长度在向右
							if(currentItemIndex + 1 < rightLength) {
								currentItemIndex++;
								changeItem();
							}
						}
						break;
					case 29460:
					case(38 || "KEY_UP"): //向上键
						//			return false;
						//              if(menuDataList.length == 1){
						//                  return false;
						//              }
						if(currentItemIndex == -1) {
							currentMenuIndex--;
							changeMenu(current, 'up');
							return false;
						} else {
							var current = Math.ceil((currentItemIndex + 1) / 3); //获取当前行  向上取整
							if(current > 1) { //大于第一行  才可向上
								currentItemIndex = currentItemIndex - 3; //向上,当前索引减3
								changeItem(current, 'up');
							}
						}
						break;
					case 29461:
					case(40 || "KEY_DOWN"): //向下键
						//              if(menuDataList.length == 1){
						//                  return false;
						//              }
						if(currentItemIndex == -1) {
							currentMenuIndex++;
							changeMenu();
							return false;
						} else {
							var rowNum = Math.ceil($("#ul li").length / 3); //获取总共有几行 向上取整
							var current = Math.ceil((currentItemIndex + 1) / 3); //获取当前在第几行
							//当前行小于总行数  并且  当前索引+3小于列表的长度(确保下面有元素)   才能向下
							if(current < rowNum) {
								if((currentItemIndex + 3) < $("#ul li").length) {
									currentItemIndex = currentItemIndex + 3; //向下，当前索引加3
									changeItem(current, 'down');
								} else {
									currentItemIndex = $("#ul li").length - 1; //获取最后一个的焦点
									changeItem(current, 'down');
								}
							}
						}
						break;
						//          case 8://返回
						//          	history.go();
						//          	break;
						//          default:
						//  break;
					case 88:
					case 8:
						window.history.go(-1);
						return false;　　　　　　　　　　　　　　　
						break;　　　　　　　　　　　　
				}
			};
			//设置选中状态
			function setFocus() {
				var it = document.getElementById("ul");
				if(currentItemIndex > -1) {
					it.children[currentItemIndex].focus();
				}
				return false;
			}
			//改变焦点 index
			function changeItem(row, scrolltype) {
				var it = document.getElementById("ul");
				for(i = 0; i < it.children.length; i++) {
					it.children[i].className = "";
				}
				if(currentItemIndex > -1) {
					it.children[currentItemIndex].className = "active";
				}
				if(scrolltype == 'down') {
					if(row > 1) {
						var top = (row - 1) * 215;
						$(".tab_box").scrollTop(top);
						console.log($(".tab_box").scrollTop())
					}
				}
				if(scrolltype == 'up') {
					var allRows = Math.ceil(it.children.length / 3);
					if(row > 1 && row < allRows) {
						var top = (row - 2) * 215;
						$(".tab_box").scrollTop(top);
						console.log($(".tab_box").scrollTop())
					}
				}
			}
			//切换左侧菜单
			function changeMenu() {
				var its = document.getElementById("listmenu");
				for(i = 0; i < its.children.length; i++) {
					its.children[i].className = "";
					its.children[i].children[0].className = "";
				}
				if(currentMenuIndex < 0) {
					currentMenuIndex = its.children.length - 1;
				}
				if(currentMenuIndex == its.children.length) {
					currentMenuIndex = 0;
				}
				its.children[currentMenuIndex].className = "current";
				if(its.children[currentMenuIndex].children[0].scrollWidth > its.children[currentMenuIndex].children[0].clientWidth) {
					its.children[currentMenuIndex].children[0].className = "animate";
				}
				changeData(currentMenuIndex);
				if(currentMenuIndex >= 9) {
					$("#listmenu").scrollTop(48 * (currentMenuIndex - 8));
				} else {
					$("#listmenu").scrollTop(0);
				}
			}

			/**
			 * 数据
			 */
			var pageType = ""; //页面类型
			var jsondata = new Array();
			var menuDataList = new Array();

			/**
			 * 菜单数据绑定
			 */
			var vue = new Vue({
				el: '#app2',
				data: {
					menudata: menuDataList,
					pageType: pageType
				}
			});
			/**
			 * item数据绑定
			 */
			var vue = new Vue({
				el: '#app',
				data: {
					jsondata: jsondata
				},
				methods: {
					toDetail: function() {
						if(currentItemIndex > -1) {
							window.sessionStorage.secondPage_currentMenuIndex = currentMenuIndex;
							window.sessionStorage.secondPage_currentItemIndex = currentItemIndex;
							if(pageType == "merchandise") {
								window.sessionStorage.itemDetail = JSON.stringify(jsondata[currentItemIndex]);
								window.location.href = "prodetailV3.html";
							} else if(pageType == "INFO") {
								window.sessionStorage.infoDetail = JSON.stringify(jsondata[currentItemIndex]);
								window.location.href = "infoDetail.html";
							} else if(pageType == "SERVICE") {
								window.sessionStorage.serverDetail = JSON.stringify(jsondata[currentItemIndex]);
								window.location.href = "Servicesde.html";
							}
						}
					},
					changeItem: function(index) {
						currentItemIndex = index;
						changeItem();
					}
				},
			});

			/**
			 * 初始化页面数据
			 */
			$(function() {
				getData();
			});
			/**
			 * 获取数据
			 * 1、获取左侧菜单
			 * 2、根据左侧菜单加载右侧列表
			 */
			var baseData;

			function getData() {
				baseData = JSON.parse(window.sessionStorage.baseMenuData);
				//console.log(baseData);
				var title = window.sessionStorage.language == "en" ? "Home" : "首页";
				$("#title").html(title + " > " + baseData.translates[window.sessionStorage.language].title);
				getMenuData(0);
			};

			function toDetail() {
				if(currentItemIndex > -1) {
					window.sessionStorage.secondPage_currentMenuIndex = currentMenuIndex;
					window.sessionStorage.secondPage_currentItemIndex = currentItemIndex;
					if(pageType == "merchandise") {
						window.sessionStorage.itemDetail = JSON.stringify(jsondata[currentItemIndex]);
						window.location.href = "prodetailV3.html";
					} else if(pageType == "INFO") {
						window.sessionStorage.infoDetail = JSON.stringify(jsondata[currentItemIndex]);
						window.location.href = "infoDetail.html";
					} else if(pageType == "SERVICE") {
						window.sessionStorage.serverDetail = JSON.stringify(jsondata[currentItemIndex]);
						window.location.href = "Servicesde.html";
					}
				}
			};

			function getMenuData(index) {
				$.ajax({
					type: "GET",
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/page/" + baseData.infoListIds[index],
					beforeSend: function(data) {
						data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
					},
					dataType: "json",
					data: {
						hotel_id: window.localStorage.hotelId,
						restaurant_id: window.localStorage.restaurantId,
						device_id: window.localStorage.deviceId,
						device_type: "tv"
					},
					success: function(data) {
						//console.log(data);
						menuDataList.push(data.data);
						index++;
						if(index < baseData.infoListIds.length) {
							getMenuData(index);
						} else {
							setTimeout("changeMenu()", 100);
						}
					}
				});
			}
			/**
			 * 获取数据  加载到数据后可能是item 也可能是分类，如果是分类仍需进行再一次加载。直到取到为item
			 */
			function requestData(itemId, item) {
				$.ajax({
					type: "GET",
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/page/" + itemId,
					beforeSend: function(data) {
						data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
					},
					dataType: "json",
					data: {
						hotel_id: window.localStorage.hotelId,
						restaurant_id: window.localStorage.restaurantId,
						device_id: window.localStorage.deviceId,
						device_type: "tv"
					},
					success: function(data) {
						//console.log(data);
						if(!item) {
							if(data.data.all_merchandises.length > 0) {
								if(data.data.all_merchandises[0].infoType) {
									pageType = data.data.all_merchandises[0].infoType;
								} else {
									pageType = "merchandise";
								}
								//商品
								for(var i = 0; i < data.data.all_merchandises.length; i++) {
									try {
										data.data.all_merchandises[i].defaultImage.internalImageId = JSON.parse(window.sessionStorage.imgs)[data.data.all_merchandises[i].defaultImage.internalImageId].internal_image_url;
									} catch(e) {}
									jsondata.push(data.data.all_merchandises[i]);
								};
								setTimeout("setFocus()", 100);
							} else if(data.data.infoPageIds.length > 0) {
								for(var i = 0; i < data.data.infoPageIds.length; i++) {
									requestData(data.data.infoPageIds[i], "item");
								}
							}
						} else {
							pageType = data.data.infoType;
							if(pageType == "INFO") {
								try {
									data.data.logo.internalImageId = JSON.parse(window.sessionStorage.imgs)[data.data.logo.internalImageId].internal_image_url;
								} catch(e) {}
							}
							jsondata.push(data.data);
							setTimeout("setFocus()", 100);
						}
					}
				});
			};

			/**
			 * 菜单切换 右边数据加载
			 * @param {Object} index
			 */
			function changeData(index) {
				jsondata.splice(0, jsondata.length);
				requestData(menuDataList[index].id);
			};
		</script>
	</body>

</html>