<!--VOD点播-->
<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/common.css" rel="stylesheet">
		<link href="../css/main.css" rel="stylesheet">
		<link href="../css/vod.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="../js/tab/jquery.js"></script>
		<script src="../js/vue.min.js"></script>

	</head>

	<body>
		<div>
			<div class="shadow"></div>
			<div class="content">
				<div class="header">
					<img id="logo" alt="" class="lt" />
					<img src="../img/startwelcome/shu.png" alt="" class="lt2" />
					<div class="welcome">
						<p><span id="customer"></span></p>
						<p> <span id="roomNumber"></span></p>
					</div>
					<div class="weathertime">
						<ul>
							<li>
								<span id="dateweek"></span>
							</li>
							<li>
								<img src="../img/icon-weather.png" />
								<span id="wendu"></span>
							</li>
							<li>
								<img src="../img/icon-time.png" />
								<span id="timemm"></span>
							</li>
						</ul>
					</div>
				</div>
				<!--*************选项卡****************-->
				<div id="wrapper">
					<div class="box">
						<div class="title">
							<p id="title"></p>
						</div>
						<div id="app2">
							<!--左边菜单-->
							<ul class="tab_menu" id="listmenu">
								<li v-for="item in menudata">
									<span v-text="item.translates[window.sessionStorage.language].title"></span>
								</li>
							</ul>
						</div>
						<div class="tab_box">
							<div id="app">
								<!--右边菜单-->
								<ul id="ul" class="ul">
									<li class="active_sel" tabindex="0" v-for="(item,index) in jsondata" v-on:focus="changeItem(index)">
										<img :src="item.logo.internalImageId" />
										<div class="nameprice">
											<p v-text="item.translates[window.sessionStorage.language].title" style="line-height: 52px;font-size: 27px;"></p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div id="bottomVue" class="bottom_tiao">
					<img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png" />
					<img v-else src="../img/bottom-ch.png" />
				</div>
			</div>
		</div>
		<script src="../js/bottom.js"></script>
		<script src="../js/top.js"></script>
		<script>
			//头部的日期和时间
			$("#dateweek").html(dateweek); //日期
			//$("#timemm").html(time);
			$("#roomNumber").html(window.sessionStorage.language == "zh-cn" ? "房间号 " + window.localStorage.roomId : "Room " + window.localStorage.roomId);
			$("#customer").html(window.sessionStorage.language == "zh-cn" ? "欢迎 " + window.sessionStorage.customer : "Welcome " + window.sessionStorage.customer);
			try {
				$("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
			} catch(e) {}

			function GetQueryString(url, name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
				var r = url.substr(1).match(reg);
				if(r != null) return unescape(r[2]);
				return null;
			};
			//定义初始化行列
			var currentMenuIndex = window.sessionStorage.secondPage_currentMenuIndex == null ? 0 : parseInt(window.sessionStorage.secondPage_currentMenuIndex);
			var currentItemIndex = window.sessionStorage.secondPage_currentItemIndex == null ? -1 : parseInt(window.sessionStorage.secondPage_currentItemIndex);
			document.onkeydown = function(e) {
				e = window.event || e;
				switch(e.keyCode) {
					case 29443: //返回
					case 13:
						toDetail();
						return false; //拦截系统左键
						break;
					case 37:
					case(4 || "KEY_LEFT"): //向左键
						if(currentItemIndex > -1) {
							if(currentItemIndex % 3 == 0) {
								var it = document.getElementById("ul");
								it.children[currentItemIndex].blur();
								currentItemIndex = -1;
								changeItem();
								return false; //拦截系统左键
							} else {
								currentItemIndex--;
								console.log(currentItemIndex)
								var it = document.getElementById("ul");
								it.children[currentItemIndex].focus();
							}
						} else {
							return false;
						}
						break;
					case 39:
					case(5 || "KEY_RIGHT"): //向右键
						if(currentItemIndex == -1) {
							currentItemIndex = 0;
							var it = document.getElementById("ul");
							it.children[currentItemIndex].focus();
							return false; //拦截系统左键
						} else {
							currentItemIndex++;
							var it = document.getElementById("ul");
							it.children[currentItemIndex].focus();
						}
						break;
					case 38:
					case(29460 || "KEY_UP"): //向上键
						//			return false;
						if(menuDataList.length == 1) {
							return false;
						}
						if(currentItemIndex == -1) {
							currentMenuIndex --;
							changeMenu();
							return false;
						}
						break;
					case 40:
					case(29461 || "KEY_DOWN"): //向下键
						//			return false;
						if(menuDataList.length == 1) {
							return false;
						}
						if(currentItemIndex == -1) {
							currentMenuIndex++;
							changeMenu();
							return false;
						}
						break;
					case 8:
					case 88: //返回
						history.go(-1)
						return false;
						break;
					default:
						break;
				}
			};

			function toDetail() {
				if(currentItemIndex > -1) {
					window.sessionStorage.secondPage_currentMenuIndex = currentMenuIndex;
					window.sessionStorage.secondPage_currentItemIndex = currentItemIndex;
					vodUrl = jsondata[currentItemIndex].vod.url;
					if(vodUrl.indexOf("?") > 0) {
						vodId = GetQueryString(vodUrl.substring(vodUrl.indexOf("?"), vodUrl.length), "id");
						lang_agnostic_id = GetQueryString(vodUrl.substring(vodUrl.indexOf("?"), vodUrl.length), "lang_agnostic_id");
						vodPrice = GetQueryString(vodUrl.substring(vodUrl.indexOf("?"), vodUrl.length), "price");
						jsondata[currentItemIndex].vod.url = vodUrl.substring(0, vodUrl.indexOf("?"));
					}
					var data = new Object();
					data["language"] = window.sessionStorage.language;
					data["hotel_id"] = window.localStorage.hotelId;
					data["restaurant_id"] = window.localStorage.restaurantId;
					data["room_id"] = window.localStorage.roomId;
					data["device_id"] = window.localStorage.deviceId;
					data["service_fee"] = parseInt(window.sessionStorage.surchargePermillage);
					data["info"] = jsondata[currentItemIndex];
					data["vodId"] = vodId;
					data["vodPrice"] = vodPrice;
					data["lang_agnostic_id"] = lang_agnostic_id;
					data["customer"] = window.sessionStorage.customer;
					data["dateweek"] = dateweek;
					data["logo"] = JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url;
					data["temperature"] = $("#wendu").html();
					var dataStr = JSON.stringify(data);
					jsondata[currentItemIndex].vod.url = vodUrl;
					//console.log(dataStr);
					document.location = "js://totvlist?page=2&data=" + dataStr;
				}
			};

			function setFocus() {
				var it = document.getElementById("ul");
				if(currentItemIndex > -1) {
					it.children[currentItemIndex].focus();
				}
				return false;
			}
			//改变焦点
			function changeItem() {
				var it = document.getElementById("ul");
				for(i = 0; i < it.children.length; i++) {
					it.children[i].className = "";
				}
				if(currentItemIndex > -1) {
					it.children[currentItemIndex].className = "active";
				}
			}
			//改变菜单
			function changeMenu() {
				var its = document.getElementById("listmenu");
				for(i = 0; i < its.children.length; i++) {
					its.children[i].className = "";
				}
				if(currentMenuIndex < 0) {
					currentMenuIndex = its.children.length - 1;
				}
				if(currentMenuIndex == its.children.length) {
					currentMenuIndex = 0;
				}
				its.children[currentMenuIndex].className = "current";
				changeData(currentMenuIndex);
			}

			/**
			 * 数据
			 */
			var pageType = ""; //页面类型
			var jsondata = new Array();
			var menuDataList = new Array();

			var vodUrl;
			var vodId = 0;
			var vodPrice = 0;
			var lang_agnostic_id = "";
			/**
			 * 菜单数据绑定
			 */
			var vue = new Vue({
				el: '#app2',
				data: {
					menudata: menuDataList,
					pageType: pageType
				}
			});
			/**
			 * item数据绑定
			 */
			var vue = new Vue({
				el: '#app',
				data: {
					jsondata: jsondata
				},
				methods: {
					toDetail: function() {
						if(currentItemIndex > -1) {
							window.sessionStorage.secondPage_currentMenuIndex = currentMenuIndex;
							window.sessionStorage.secondPage_currentItemIndex = currentItemIndex;
							vodUrl = jsondata[currentItemIndex].vod.url;
							vodId = GetQueryString(vodUrl.substring(vodUrl.indexOf("?"), vodUrl.length), "id");
							vodPrice = GetQueryString(vodUrl.substring(vodUrl.indexOf("?"), vodUrl.length), "price");
							jsondata[currentItemIndex].vod.url = vodUrl.substring(0, vodUrl.indexOf("?"));
							var data = new Object();
							data["language"] = window.sessionStorage.language;
							data["hotel_id"] = window.localStorage.hotelId;
							data["restaurant_id"] = window.localStorage.restaurantId;
							data["room_id"] = window.localStorage.roomId;
							data["device_id"] = window.localStorage.deviceId;
							data["service_fee"] = parseInt(window.sessionStorage.surchargePermillage);
							data["info"] = jsondata[currentItemIndex];
							data["vodId"] = vodId;
							data["vodPrice"] = vodPrice;
							data["customer"] = window.sessionStorage.customer;
							data["dateweek"] = dateweek;
							data["logo"] = JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url;
							data["temperature"] = $("#wendu").html();
							var dataStr = JSON.stringify(data);
							jsondata[currentItemIndex].vod.url = vodUrl;
							//console.log(dataStr);
							document.location = "js://totvlist?page=2&data=" + dataStr;
						}
					},
					changeItem: function(index) {
						currentItemIndex = index;
						changeItem();
					}
				},
			});

			/**
			 * 初始化页面数据
			 */
			$(function() {
				getData();
			});
			var baseData;

			function getData() {
				baseData = JSON.parse(window.sessionStorage.baseMenuData);
				//console.log(baseData);
				var title = window.sessionStorage.language == "en" ? "Home" : "首页";
				$("#title").html(title + " > " + baseData.translates[window.sessionStorage.language].title);
				getMenuData(0);
			}
			/**
			 * 获取数据
			 */
			function getMenuData(index) {
				$.ajax({
					type: "GET",
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/page/" + baseData.infoListIds[index],
					beforeSend: function(data) {
						data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
					},
					dataType: "json",
					data: {
						hotel_id: window.localStorage.hotelId,
						restaurant_id: window.localStorage.restaurantId,
						device_id: window.localStorage.deviceId,
						device_type: "tv"
					},
					success: function(data) {
						//console.log(data);
						menuDataList.push(data.data);
						index++;
						if(index < baseData.infoListIds.length) {
							getMenuData(index);
						} else {
							//console.log("ok")
							setTimeout("changeMenu()", 100);
						}
					}
				});
			};
			/**
			 * 获取数据
			 */
			function requestData(itemId, item) {
				$.ajax({
					type: "GET",
					url: window.sessionStorage.server_url + "/api/junctioncore/v1/page/" + itemId,
					beforeSend: function(data) {
						data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
					},
					dataType: "json",
					data: {
						hotel_id: window.localStorage.hotelId,
						restaurant_id: window.localStorage.restaurantId,
						device_id: window.localStorage.deviceId,
						device_type: "tv"
					},
					success: function(data) {
						//console.log(data);
						if(!item) {
							try {
								for(var i = 0; i < data.data.infoPageIds.length; i++) {
									requestData(data.data.infoPageIds[i], "item");
								}
							} catch(e) {}
						} else {
							try {
								data.data.logo.internalImageId = JSON.parse(window.sessionStorage.imgs)[data.data.logo.internalImageId].internal_image_url;
								jsondata.push(data.data);
								setTimeout("setFocus()", 100);
							} catch(e) {}
						}
					}
				});
			};
			/**
			 * 菜单切换 右边数据加载
			 * @param {Object} index
			 */
			function changeData(index) {
				jsondata.splice(0, jsondata.length);
				requestData(menuDataList[index].id);
			};
		</script>
	</body>

</html>