<!--天气预报-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/weather.css" rel="stylesheet">
    <!--选项卡的引用-->
    <link href="../css/tab.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/tab/jquery.js"></script>
    <script src="../js/tab/jquery.tabs.js"></script>
    <script src="../js/tab/jquery.lazyload.js"></script>
    <script type="text/javascript" src="../js/tab/lanrenzhijia.js"></script>
    <script src="../js/vue.min.js"></script>
</head>
<body>
<div class="shadow"></div><!--遮罩黑色背景-->
<div class="content">
    <div class="header">
        <img id="logo" alt="" class="lt"/>
        <img src="../img/startwelcome/shu.png" alt="" class="lt2"/>
        <div class="welcome">
            <p><span id="customer"></span></p>
            <p> <span id="roomNumber"></span></p>
        </div>
        <div class="weathertime">
            <ul>
                <li>
                    <span id="dateweek"></span>
                </li>
                <li>
                    <img src="../img/icon-weather.png"/>
                    <span id="wendu"></span>
                </li>
                <li>
                    <img src="../img/icon-time.png"/>
                    <span id="timemm"></span>
                </li>
            </ul>
        </div>
    </div>

    <div id="wrapper">
        <div class="box demo2">
            <div class="title">
                <p id="top-title"></p>

            </div>
            <div class="weather" id="app">
                <div class="local">
                    <p>
                        <img src="../img/adress.png"/>
                        <span id="location"></span>
                    </p>
                </div>
                <ul>
                    <li v-for="item in menudata">
                        <img v-if="item.weatid==='1'" src="../weather/Sunny.svg"/>
                        <img v-if="item.weatid==='2'" src="../weather/cloudy2.svg"/>
                        <img v-if="item.weatid==='3'" src="../weather/cloudy.svg"/>
                        <img v-if="item.weatid==='4'" src="../weather/shower.svg"/>
                        <img v-if="item.weatid==='5'" src="../weather/rain1.svg"/>
                        <img v-if="item.weatid==='6'" src="../weather/rain1.svg"/>
                        <img v-if="item.weatid==='7'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='8'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='9'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='10'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='11'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='12'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='13'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='14'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='15'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='16'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='17'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='18'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='19'" src="../weather/fog.svg"/>
                        <img v-if="item.weatid==='20'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='21'" src="../weather/storm.svg"/>
                        <img v-if="item.weatid==='22'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='23'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='24'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='25'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='26'" src="../weather/rain2.svg"/>
                        <img v-if="item.weatid==='27'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='28'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='29'" src="../weather/snow.svg"/>
                        <img v-if="item.weatid==='30'" src="../weather/storm.svg"/>
                        <img v-if="item.weatid==='31'" src="../weather/storm.svg"/>
                        <img v-if="item.weatid==='32'" src="../weather/storm.svg"/>
                        <img v-if="item.weatid==='33'" src="../weather/fog.svg"/>
                        <div>
                            <p v-text="item.temperature"></p>
                            <p v-text="item.weather"></p>
                            <p v-text="item.winp"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="week">
                <ul class="ss" id="ss">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <!--<li></li>-->
                    <!--<li></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div id="bottomVue" class="bottom_tiao">
        <img v-if="window.sessionStorage.language=='en'" src="../img/bottom-en.png"/>
        <img v-else src="../img/bottom-ch.png"/>
    </div>
</div>
</div>
<script src="../js/bottom.js"></script>
<script src="../js/top.js"></script>
<script>
    //头部的日期和时间
    $("#dateweek").html(dateweek);//日期
    //$("#timemm").html(time);
    $("#roomNumber").html(window.sessionStorage.language == "zh-cn"?"房间号 "+window.localStorage.roomId:"Room "+window.localStorage.roomId);
    $("#customer").html(window.sessionStorage.language == "zh-cn"?"欢迎 "+window.sessionStorage.customer:"Welcome "+window.sessionStorage.customer);
    try {
        $("#logo").attr("src", JSON.parse(window.sessionStorage.imgs)[window.sessionStorage.logo].internal_image_url);
    } catch (e) {
    }

    //下面的时间
    window.onload = function () {
        var cells = document.getElementById('ss').getElementsByTagName('li');
        var clen = cells.length;
        var currentFirstDate;
        var formatDate = function (date) {
            var month =(date.getMonth() + 1)>9? (date.getMonth() + 1) + '/':"0"+(date.getMonth() + 1)+'/';
            var day = date.getDate()>9?date.getDate():"0"+date.getDate();
            var week = (window.sessionStorage.language=='en'?['Sun', 'Mon', 'Tues', 'Wed', 'Thur', 'Fri', 'Sat']:['周日', '周一', '周二', '周三', '周四', '周五', '周六'])[date.getDay()] + '<br/>';
            return week + '' + month + day;
        };

        var formatDateToday = function (date) {
            var month =(date.getMonth() + 1)>9? (date.getMonth() + 1) + '/':"0"+(date.getMonth() + 1)+'/';
            var day = date.getDate()>9?date.getDate():"0"+date.getDate();
            var week = (window.sessionStorage.language=='en'?"Today":"今天")+ '<br/>';
            return week + '' + month + day;
        };

        var addDate = function (date, n) {
            date.setDate(date.getDate() + n);
            return date;
        };
        var setDate = function (date) {
            currentFirstDate = new Date(date);
            cells[0].innerHTML = formatDateToday(date);
            for (var i = 1; i < clen; i++) {
                cells[i].innerHTML = formatDate(addDate(date, 1));
            }
        };
        setDate(new Date());
    }

    /**
     * 数据
     */
    var TYPE_MENU = 0;
    var BASE_URL = "http://junction.panora.com.cn:8008/butlerdemo/?hotel_id=086test1&project=butler&device_type=tv";
    var pageId = GetQueryString("pageId");
    var menuData = new Array();
    /**
     * 获取数据
     */
    $(function () {
        getData(pageId,0);
    });
    /**
     * 获取数据
     */
    function getData(pageId,code) {
        $.ajax({
            type: "GET",
            url: window.sessionStorage.server_url+"/api/junctioncore/v1/page/"+pageId,
            beforeSend: function (data) {
                data.setRequestHeader("CONTENT-TYPE", "application/x-www-form-urlencoded");
            },
            dataType: "json",
            data: {
                hotel_id: window.localStorage.hotelId,
                restaurant_id:window.localStorage.restaurantId,
                device_id: window.localStorage.deviceId,
                device_type: "tv"
            },
            success: function (data) {
                console.log(data);
                switch (code){
                    case 0:
                        getData(data.data.infoListIds[0],1);
                        break;
                    case 1:
                        getData(data.data.infoPageIds[0],2)
                        break;
                    case 2:
                        $("#location").html(data.data.translates[window.sessionStorage.language].title);
                        for (var i = 0; i < 5; i++) {
                            menuData.push(data.data.weather_data.future[i]);
                        }
                        ;
                        break;
                }
            }
        });
    }
    ;
    var vue = new Vue({
        el: '#app',
        data: {
            menudata: menuData
        },
    });
    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null)return unescape(r[2]);
        return null;
    }
    ;
    /*
     * 语言
     */
    if (window.sessionStorage.language == "zh-cn") {
        $("#top-title").html("首页 > 天气");
    } else {
        $("#top-title").html("Home > Weather");
    }
    document.onkeydown = function (e) {
        if (!e) {
            e = window.event;
        }
        switch ((e.keyCode || e.which)) {
//          case 88://返回
//          	history.back();
//          	break;
//          default:
//              break;
			case 88:  //返回
			case 8:
				window.history.go(-1);  
				return false;　　　　　　　　　　　　　　　
				break;　
        }
    }
</script>
</body>
</html>
